@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
html,
body {
    background-image: linear-gradient(to right top, #f6bbe1, #ffc0c9, #ffcfb1, #ffe3a6, #e4f9b4);
    color: #000000;
    font-family: 'PT Serif', serif;
    text-align: center;
}

#menu {
    padding: 25px;
    background-image: linear-gradient(to right top, #fbdbf0, #ffdde1, #ffe4d3, #ffedce, #edf8d5);
    text-align: center;
    font-size: 1.2em;
    box-shadow: 1px 1px 10px 2px black;
}

#menu>nav>.h1 {
    font-size:1.2em;
}

#menu>nav>.h1,
#menu>nav>div>ul>li>.nav-link,
footer>section>#social>ul>li>a,
footer>a>.fa-arrow-up {
    color: #000000;
}

#presentation {
    margin-top: 90px;
    margin-bottom: 90px;
}

#presentation>.flex-container>article,
#presentation>.flex-container>figure>img {
    padding: 20px;
}

#presentation>.flex-container>figure>img {
    width: 100%;
}

#presentation>.flex-container>article {
    border-radius: 15px;
    text-align: justify;
    background-image: linear-gradient(to right, #fbdbf0, #ffdde1, #ffe4d3, #ffedce, #edf8d5);
    box-shadow: 1px 1px 15px 2px black;
    font-size: 0.9em;

}

#presentation>.flex-container>article>h2 {
    text-align: center;
    font-size: 1.6em;
}

#presentation>.flex-container,
footer>.flex-container{
    display: flex;
    flex-direction: row;
}

#presentation>.flex-container>article>.marge {
    text-indent: 40px;
}

footer {
    bottom: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(to right top, #fbdbf0, #ffdde1, #ffe4d3, #ffedce, #edf8d5);
    box-shadow: 1px 1px 15px 2px black;
    text-align: center;
}
footer>h2 {
     font-size: 1.4em;
}

hr {
    width: 340px;
    box-shadow: 0 1px 5px rgb(223, 18, 103);
    border: 1px solid #ffffff;
    margin-bottom: 30px;
}

footer>section>#social>ul>li {
    list-style: none;
    margin: 15px;
    display: inline;
    font-size: 1.5em;
}

footer>section>#social>ul {
    padding-inline-start: 0;
}

footer>section>#contact>address>a {
    margin: 20px;
    color: #000000;
}


footer>section>#contact>address>a:hover,
footer>section>#social>ul>li>a:hover {
    color: rgb(223, 18, 103);
}

footer>section>#contact>h3,
footer>section>#social>h3 {
    margin: 10px;
    font-size: 1.2em;
}
footer>a>.fa-arrow-up {
    background-color: rgb(223, 18, 103);
    font-size: 30px;
    right: 2vw;
    bottom: 3vw;
    margin-right: 20px;
    opacity: 0.4;
    position: fixed;
    z-index: 1;
    padding: 12px;
    border-radius: 100%;
}


/*media queries*/
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #menu>nav>.h1 {
        display: none;
    }

    #presentation>.flex-container>.flex-item,
    footer>.flex-container>.flex-item {
        flex: 50%;
    }

    #presentation>.row>figure>img {
        margin-top: 80px;
    }
}

