@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
html,
body {
    background-image: linear-gradient(to right top, #f6bbe1, #ffc0c9, #ffcfb1, #ffe3a6, #e4f9b4);
    color: #000000;
    font-family: 'PT Serif', serif;
    text-align: center;
}

#menu {
    padding: 25px;
    background-image: linear-gradient(to right top, #fbdbf0, #ffdde1, #ffe4d3, #ffedce, #edf8d5);
    text-align: center;
    font-size: 1.2em;
    box-shadow: 1px 1px 10px 2px black;
}

#menu>nav>.h1 {
    font-size:1.3em;
}

#menu>nav>.h1,
#menu>nav>div>ul>li>.nav-link {
    color: #000000;
}


/*media queries*/
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #menu>nav>.h1 {
        display: none;
    }
}

